<div class="container">
    <div class="main-body">
 
            <div class="col-md-8">
              <div class="card mb-3">
                <!-- <form [formGroup]="form" (ngSubmit)="submit()" > -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Guide Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  name = "guideemail" placeholder = "guide email" formControlName="fullName">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0" style="font-size:15px;">Location</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group" >
                        <input type="text" class="form-control"  placeholder = "location" name = "location" formControlName="fullName">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Included</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  placeholder = "included" name = "included" formControlName="mobile">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Duration</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  placeholder = "duration" name = "duration" formControlName="age">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Itinerary</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  placeholder = "itinerary" name = "itinerary" formControlName="mobile">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Accomodation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  placeholder = "accomodation" name = "accomodation" formControlName="location">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Price</h6>
                    </div>
                    <div class="col-sm-9 text-secondary form-group">
                        <input type="text" class="form-control"  placeholder = "price" name = "price" formControlName="fav_2">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary form-group">
                         <button type="button" class="btn btn-primary px-4" id="saveChanges"
                      >Save Changes</button> 
                    </div>
                </div>
                </div>
              <!-- </form> -->
              </div>
  
            </div>
          </div>
  
        </div>
     
    
  