<mat-toolbar color="primary" class="app-header">
    <span><a mat-button routerLink="home-page" routerLinkActive="active">Home</a></span>
    <span class="spacer"></span>
    <div routerLinkActive="active" *ngIf="!isLoggedIn"> 
      <a mat-button routerLink="login">Log in</a>
      <a mat-button routerLink="register">Register</a>
    </div>
    <div routerLinkActive="active" *ngIf="isLoggedIn"> 
      <a mat-button routerLink="view-profile">View Profile</a>
      <a mat-button routerLink="home-page" (click)="logout()">LogOut</a>
    </div>
</mat-toolbar>
  
