
<div class="col-sm-9 add-package">
  <div *ngFor = "let p of packages" class="card-position">
  <mat-card class="example-card card-position">
      <mat-card-title-group>
        <mat-card-title>{{p.guideEmail}}</mat-card-title>
        <mat-card-subtitle>{{p.location}}</mat-card-subtitle><small></small>      
      </mat-card-title-group>
      <mat-card-content>
      {{p.Duration}}
      {{p.accomodation}}
      {{p.itinerary}}
      {{p.included}}
      {{p.price }}
      </mat-card-content>
      
    </mat-card>

    </div>
    </div>
    
    
    
    
     
    