
<div class="col-sm-9 add-package">
  <div *ngFor = "let p of packages" class="card-position">
  <mat-card class="example-card card-position" (click)="navigate()">
      <mat-card-title-group>
        <mat-card-title>Package Name: {{p.location}}, {{p.Duration}}, {{p.price }}</mat-card-title>
        <mat-card-subtitle> Guide Details: {{p.guideEmail}} </mat-card-subtitle><small></small>      
      </mat-card-title-group>
      <mat-card-content>
      Duration of the package: {{p.Duration}}
      <br>
      Place of Accomodation: {{p.accomodation}}
      <br>
      Itinerary of the trip: {{p.itinerary}}
      <br>
      Included: {{p.included}}
      <br>
      Price of the package: {{p.price }}
      </mat-card-content>
      
    </mat-card>

    </div>
    </div>
    
    
    
    
     
    